<div class="gallery-grid">
    <div class="wrapper">
        <div class="gallery-grid__content">

            <div class="card-gallery card-gallery_infoblock">
                <span class="card-gallery__locate">Местоположение</span>
                <h3 class="card-gallery__title card-gallery__title_infoblock">Название работы</h3>
                <p class="card-gallery__info">
                    Установка двухцветных деревянных окон различных конфигураций, входных дверей, москитных сеток
                </p>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/2.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/3.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/2.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/3.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/2.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <!--card for small pc-->
            <div class="card-gallery card-gallery_smallpc">
                <a class="card-gallery__img" style="background-image: url(img/gallery/3.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery card-gallery_smallpc">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery card-gallery_smallpc">
                <a class="card-gallery__img" style="background-image: url(img/gallery/2.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>
            <!--end card for small pc-->

            <div class="card-gallery card-gallery_big">
                <a class="card-gallery__img" style="background-image: url(img/gallery/3.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery card-gallery_big">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/2.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/3.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/2.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/3.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <!--card for small pc-->
            <div class="card-gallery card-gallery_smallpc">
                <a class="card-gallery__img" style="background-image: url(img/gallery/3.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>

            <div class="card-gallery card-gallery_smallpc">
                <a class="card-gallery__img" style="background-image: url(img/gallery/1.png);"></a>
                <h3 class="card-gallery__title">Название работы</h3>
            </div>
            <!--end card for small pc-->
        </div>
        <a class="gallery-grid__btn btn btn_yellow">Смотреть больше</a>
    </div>
</div>