.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &_gold {
        background: linear-gradient(270deg, #FFBC17 0%, #FAC136 22.4%, #FFD776 34.9%, #F4C041 44.79%, #E2A91B 100%);
        box-shadow: 0px 0px 20px rgba(249, 202, 10, 0.3);
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #1C1512;
    }
}