.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    &_gold {
        background: linear-gradient(270deg, #FFBC17 0%, #FAC136 22.4%, #FFD776 34.9%, #F4C041 44.79%, #E2A91B 100%);
        box-shadow: 0px 0px 20px rgba(249, 202, 10, 0.3);
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #1C1512;
        &:hover {
            background-size: 150% 150%;
            animation: gradient 5s ease infinite;
            color: black;
            box-shadow: 0px 0px 30px rgba(249, 202, 10, 0.3);
            @keyframes gradient {
                0% {
                    background-position: 60% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                70% {
                    background-position: 0% 50%;
                }
                100% {
                    background-position: 60% 50%;
                }
            }
        }
    }
}