.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    &_black {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    &_gold {
        background: linear-gradient(270deg, #FFBC17 0%, #FAC136 22.4%, #FFD776 34.9%, #F4C041 44.79%, #E2A91B 100%);
        box-shadow: 0px 0px 20px rgba(249, 202, 10, 0.3);
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #1C1512;
        background-size: 150% 150%;
        animation: gradient 5s ease infinite;
        @keyframes gradient {
            0% {
                background-position: 60% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            70% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 60% 50%;
            }
        }
        &:hover {
            color: black;
            box-shadow: 0px 0px 30px rgba(249, 202, 10, 0.3);
        }
    }
    &_before {
        position: relative;
        justify-content: flex-start;
        padding-left: 79px;
        font-size: 16px;
        line-height: 22px;
        @media (min-width:601px) and (max-width:1099px) {
            padding-left: 15px;
            font-size: 9.156px;
            line-height: 12px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            padding-left: 19px;
            font-size: 12px;
            line-height: 16px;
        }
        @media (min-width:1620px) {
            font-size: 18px;
            line-height: 24px;
            padding-left: 36px;
        }
        &::before {
            content: '';
            position: absolute;
            height: 50px;
            width: 50px;
            right: 0;
            top: 0;
            background-color: #FFBC17;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
            background-image: url(../img/phone-black.svg);
            background-size: 22px 23px;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-width:601px) and (max-width:1099px) {
                width: 33.35px;
                height: 33.35px;
                background-size: 15px 15px;
            }
            @media (min-width:1100px) and (max-width:1619px) {
                width: 43.58px;
                height: 43.58px;
                background-size: 19.52px 19.52px;
            }
            @media (min-width:1620px) {
                width: 67px;
                height: 67px;
                background-size: 30px 30px;
            }
        }
    }
    &_yellow {
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000000;
        background: linear-gradient(270deg, #FFBC17 0%, #E2A91B 100%);
        box-shadow: 0px 0px 13.2297px rgba(249, 202, 10, 0.3);
        transition: 0.3s ease;
        &:hover {
            background-size: 150% 150%;
            animation: gradient 5s ease infinite;
            color: black;
            box-shadow: 0px 0px 17px rgba(249, 202, 10, 0.3);
            @keyframes gradient {
                0% {
                    background-position: 60% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                70% {
                    background-position: 0% 50%;
                }
                100% {
                    background-position: 60% 50%;
                }
            }
        }
    }
    &_arrow {
        position: relative;
        justify-content: flex-start;
        padding-left: 12px;
        @media (min-width:1620px) {
            padding-left: 20px;
        }
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 25.84px;
            height: 25.84px;
            background-color: #FFBC17;
            box-shadow: 0px 0px 10.4757px rgba(0, 0, 0, 0.2);
            background-image: url(../img/arrow-btn.svg);
            background-size: 19px 19px;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-width:1100px) and (max-width:1619px) {
                width: 23.05px;
                height: 23.05px;
                background-size: 17px 17px;
            }
            @media (min-width:1620px) {
                width: 37px;
                height: 37px;
                background-size: 28px 28px;
            }
        }
    }
}