//card window
.card-window {
    width: 100%;
    height: 209.94px;
    background-color: #302825;
    border-radius: 7px;
    margin-bottom: 115px;
    color: white;
    position: relative;
    @media (min-width:601px) and (max-width:1099px) {
        margin-bottom: 120px;
        height: 212.37px;
        width: 349px;
    }
    @media (min-width:1100px) and (max-width:1619px) {
        margin-bottom: 0;
        width: 307.72px;
        height: 186.87px;
    }
    @media (min-width:1620px) {
        margin-bottom: 0;
        width: 494px;
        height: 300px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &__info {
        font-family: 'Ubuntu',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 180%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 72px;
        position: absolute;
        left: 24px;
        top: -36px;
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 12px;
            max-width: 81px;
            left: 25px;
            top: -44px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            font-size: 11px;
            max-width: 72px;
            left: 23px;
            top: -39px;
        }
        @media (min-width:1620px) {
            font-size: 14px;
            max-width: 98px;
            left: 35px;
            top: -52px;
        }
    }
    &__title {
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        position: absolute;
        left: 24px;
        bottom: 17px;
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 18px;
            line-height: 24px;
            left: 25px;
            bottom: 20px;           
        }
        @media (min-width:1100px) and (max-width:1619px) {
            font-size: 16px;
            line-height: 22px;
            left: 23px;
            bottom: 18px;
        }
        @media (min-width:1620px) {
            font-size: 24px;
            line-height: 33px;
            left: 35px;
            bottom: 24px; 
        }
    }
    &__img {
        display: block;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 219.29px;
        height: 223.29px;
        position: absolute;
        right: 18px;
        bottom: 43px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 221.83px;
            height: 225.82px;
            right: 18px;
            bottom: 44px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 195.6px;
            height: 199.11px;
            right: 16px;
            bottom: 39px;
        }
        @media (min-width:1620px) {
            width: 314px;
            height: 319px;
            right: 26px;
            bottom: 62px;
        }
    }
    &__btn {
        width: 110.34px;
        height: 25.84px;
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 149%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #1C1512;
        position: absolute;
        right: 21px;
        bottom: -13px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 111.85px;
            height: 26.19px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 98.42px;
            height: 23.05px;
            font-size: 9px;
        }
        @media (min-width:1620px) {
            width: 158px;
            height: 37px;
            font-size: 14px;
        }
    }
}

//card-reviews
.card-reviews {
    background: #302825;
    border-radius: 6.99797px;
    width: 345px;
    height: 193.84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.7);
    padding: 27px 22px;
    @media (min-width:601px) and (max-width:1099px) {
        width: 349px;
        height: 196.09px;
        padding: 31px 27px;
    }
    @media (min-width:1100px) and (max-width:1619px)  {
        width: 304.95px;
        height: 171.34px;
        padding: 27px 22px;

    }
    @media (min-width:1620px) {
        width: 493px;
        height: 277px;
        padding: 44px 38px;
        font-size: 16px;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__img {
        display: block;
        background-size: contain !important;
        background-position:center;
        background-repeat: no-repeat;
        width: 39.89px !important;
        height: 39.89px !important;
        margin-right: 13px;
        border-radius: 50% !important;
        @media (min-width:601px) and (max-width:1099px) {
            width: 40.35px !important;
            height: 40.35px !important;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 35.26px !important;
            height: 35.26px !important;
            margin-right: 11px;
        }
        @media (min-width:1620px) {
            width: 57px !important;
            height: 57px !important;
            margin-right: 19px;
        }
    }
    &__name {
        font-weight: 500;
        font-size: 12.5963px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 14px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            font-size: 12px;
        }
        @media (min-width:1620px) {
            font-size: 18px;
        }
    }
}

//card-pads-block
.card-pads-block {
    width: 100%;
    @media (min-width:601px) and (max-width:1099px) {
        width: 349px;
        margin: 0 15px;
    }
    @media (min-width:1100px) and (max-width:1619px) {
        width: 305.35px;
    }
    @media (min-width:1620px) {
        width: 493px;     
    }
    &:not(:last-child) {
        margin-bottom: 40px;
        @media (min-width:601px) and (max-width:1099px) {
            margin-bottom: 30px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin-bottom: 0;
        }
        @media (min-width:1620px) {
            margin-bottom: 0; 
        }
    }
    &_wood-doors {
        width: 163px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 217.86px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 217.86px;
        }
        @media (min-width:1620px) {
            width: 355px;
        }
    }
    &__img {
        width: 100%;
        background-color: #302825;
        border-radius: 10px;
        height: 200px;
        @media (min-width:601px) and (max-width:1099px) {
            height: 204.59px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            height: 179px;
        }
        @media (min-width:1620px) {
            height: 289px;   
        }

        //one-window
        &_one-window {
            a {
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 78.04px;
                height: 154.84px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @media (min-width:601px) and (max-width:1099px) {
                    width: 89.2px;
                    height: 176.98px;
                }
                @media (min-width:1100px) and (max-width:1619px) {
                    width: 78.04px;
                    height: 154.84px;
                }
                @media (min-width:1620px) {
                    width: 126px;
                    height: 250px;  
                }
            }
        }

        //two-window
        &_two-window {
            a {
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 186px;
                height: 172px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @media (min-width:601px) and (max-width:1099px) {
                    width: 219.23px;
                    height: 204.38px;
                }
                @media (min-width:1100px) and (max-width:1619px) {
                    width: 191.81px;
                    height: 178.82px;
                }
                @media (min-width:1620px) {
                    width: 310px;
                    height: 289px;  
                }
            }
        }

        //three-window
        &_three-window {
            a {
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 263px;
                height: 144px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @media (min-width:601px) and (max-width:1099px) {
                    width: 257.16px;
                    height: 140.58px;
                }
                @media (min-width:1100px) and (max-width:1619px) {
                    width: 225px;
                    height: 123px;
                }
                @media (min-width:1620px) {
                    width: 363px;
                    height: 199px;
                }
            }
        }

        //wood-window
        &_wood-doors {
            height: 234px;
            @media (min-width:601px) and (max-width:1099px) {
                height: 312.98px;
            }
            @media (min-width:1100px) and (max-width:1619px) {
                height: 315.56px;
            }
            @media (min-width:1620px) {
                height: 510px;
            }
            a {
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 107px;
                height: 189px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @media (min-width:601px) and (max-width:1099px) {
                    width: 142.99px;
                    height: 252.23px;
                }
                @media (min-width:1100px) and (max-width:1619px) {
                    width: 144.17px;
                    height: 254.31px;
                }
                @media (min-width:1620px) {
                    width: 233px;
                    height: 411px;
                }
            }
        }

    }
    &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 20px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 17px 0 14px; 
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 15px 0 12px;
        }
        @media (min-width:1620px) {
            margin: 25px 0 20px;  
        }
        h3 {
            font-family: 'Prata',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            @media (min-width:601px) and (max-width:1099px) {
                font-size: 16px;
                line-height: 22px;
            }
            @media (min-width:1100px) and (max-width:1619px) {
                font-size: 15px;
                line-height: 20px;
            }
            @media (min-width:1620px) {
                font-size: 24px;
                line-height: 33px;   
            }
        }
        p {
            font-family: 'Ubuntu',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            @media (min-width:601px) and (max-width:1099px) {
                font-size: 13px;
                line-height: 15px;
            }
            @media (min-width:1100px) and (max-width:1619px) {
                font-size: 12px;
                line-height: 14px;
            }
            @media (min-width:1620px) {
                font-size: 18px;
                line-height: 21px;   
            }
        }
        &_wood-doors {
            // @media (max-width:601px) {
                flex-direction: column;
                h3 {
                    width: 100%;
                    text-align: left;
                }
                p {
                    width: 100%;
                    text-align: right;
                    margin-top: 10px;
                }
            // }
        }
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        .btn {
            width: 48%;
            height: 40px;
            font-size: 12px;
            line-height: 16px;
            @media (min-width:601px) and (max-width:1099px) {
                height: 32.56px;
                font-size: 12px;
                line-height: 16px;
            }
            @media (min-width:1100px) and (max-width:1619px) {
                height: 28.49px;
                font-size: 10px;
                line-height: 14px;
            }
            @media (min-width:1620px) {
                height: 46px;
                font-size: 16px;
                line-height: 22px;  
            }
        }
        &_wood-doors {
            @media (max-width:601px) {
                flex-direction: column;
                .btn {
                    width: 100%;
                    &:last-child {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

//gallery-card 
.card-gallery {
    width: 47%;
    height: 129px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    @media (min-width:601px) and (max-width:1099px) {
        width: 30%;
        height: 173.86px;
        margin-bottom: 36px;
    }
    @media (min-width:1100px) and (max-width:1619px) {
        width: 22%;
        height: 175.11px;
        margin-bottom: 35px;
    }
    @media (min-width:1620px) {
        width: 22%;
        height: 283px;
        margin-bottom: 63px;    
    }
    &__img {
        display: block;
        background-size: 110%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
        border-radius: 10px;
        &:hover {
            background-size: 120%;
        }
    }
    &__title {
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        position: absolute;
        left: 10px;
        bottom: 10px;
        @media (min-width:601px) and (max-width:1099px) {
            left: 15px;
            bottom: 15px;
            font-size: 13px;
            line-height: 18px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            font-size: 13px;
            line-height: 18px;
            left: 15px;
            bottom: 15px;
        }
        @media (min-width:1620px) {
            font-size: 20px;
            line-height: 27px;
            left: 25px;
            bottom: 25px;
        }
        &_infoblock {
            position: relative;
            bottom: initial;
            left: initial;
            margin: 6px 0 10px;
            @media (min-width:1620px) {
                margin: 5px 0 20px;
            }
        }
    }
    &__locate {
        font-family: 'Ubuntu',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        @media (min-width:1620px) {
            font-size: 12px; 
        }
    }
    &__info {
        font-family: 'Ubuntu',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.7);
        @media (min-width:1620px) {
            font-size: 14px;  
        }
    }
    &_big {
        width: 100%;
        height: 170px;
        margin-top: 10px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 48%;
            height: 177.45px;
            margin-top: 0;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            height: 241.31px;
            width: 48%;
            margin-top: 0;
        }
        @media (min-width:1620px) {
            height: 390px;
            width: 48%;
            margin-top: 0;  
        }
    }
    &_infoblock {
        background-color: #302825;
        padding: 18px 15px;
        @media (max-width:601px) {
            display: none;
        }
        @media (min-width:1620px) {
            padding: 30px 25px;  
        }
    }
    &_smallpc {
        @media (max-width:1099px) {
            display: none;
        }
    }
}