.adress {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/locate.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 21.26px;
        height: 21.26px;
        right: -29px;
    }
}
.number {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/phone.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        left: -24px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.mail {
    font-family: 'Ubuntu',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/mail.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 17.35px;
        height: 17.35px;
        left: -21px;
        top: 50%;
        transform: translateY(-50%);
    }
}
