.logo {
    display: block;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 23px;
    &-text {
        font-family: 'Geometria',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 87px;
        margin-left: 5px;
    }
}