.slider-gallery-works {
    margin: 40px 0 80px !important;
    @media (min-width:601px) and (max-width:1099px) {
        margin: 40px 0 !important;
    }
    @media (min-width:1100px) and (max-width:1619px) {
        margin: 30px 0 !important;
    }
    @media (min-width:1620px) {
        margin: 50px 0 !important;
    }
    &__slide {
        a {
            display: block;
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
            width: 345px;
            height: 250px;
            border-radius: 10px;
            transition: 0.3s ease;
            @media (min-width:601px) and (max-width:1099px) {
                width: 349px;
                height: 212px;
            }
            @media (min-width:1100px) and (max-width:1619px)  {
                width: 305.52px;
                height: 185.91px;
            }
            @media (min-width:1620px) {
                width: 493px;
                height: 300px;
            }
            &:hover {
                background-size: 130%;
            }
        }
    }
     //padding-slide
    .slick-slide {
        margin: 0 30px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 20px;
        }
        @media (min-width:1620px) {
            margin: 0 30px;
        }
    }
    .slick-list {
        margin: 0 -30px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 -15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 -20px;
        }
        @media (min-width:1620px) {
            margin: 0 -30px;
        }
    }
    //dots
    .slick-dots {
        bottom: -41px;
        @media (min-width:601px) and (max-width:1099px) {
            bottom: initial;
            top: -65px;
            text-align: right;
            width: 100px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            bottom: initial;
            top: -55px;
            text-align: left;
            padding-left: 26px;
            width: 170px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1620px) {
            bottom: initial;
            top: -87px;
            text-align: left;
            padding-left: 26px;
            width: 270px;
            right: 0;
            background-color: #1C1512;
        }
    }
    .slick-dots li {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
    }
    .slick-dots li button {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
        &:before {
            opacity: 1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            content: '';
            transition: 0.3s ease;
            width: 11px;
            height: 11px;
            @media (min-width:1100px) and (max-width:1619px) {
                width: 7px;
                height: 7px;
            }
        }
    }
    .slick-dots li.slick-active button:before {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        opacity: 1;
    }
    //arrow
    .slick-arrow {
        top:-43px;
        right: 0;
        left: initial;
        z-index: 3;
        width: 24px;
        height: 12px;
        @media (min-width:1620px) {
            top: -71px;
            width: 37px;
            height: 19px;
        }
        &::before {
            content: '';
            display: block;
            background-image: url(../img/arrow-slider.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 12px;
            @media (min-width:1620px) {
                width: 37px;
                height: 19px;
            }
        }
    }
    .slick-prev {
        right: 30px;
        transform: rotate(180deg);
        top:-49px;
        @media (min-width:1620px) {
            top: -81px;
        }
    }
}
//gallery-reviews
.slider-gallery-reviews {
    &__slide {
        a {
            display: block;
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
            width: 345px;
            height: 193.84px;
            border-radius: 10px;
            transition: 0.3s ease;
            @media (min-width:601px) and (max-width:1099px) {
                width: 349px;
                height: 196.09px;
            }
            @media (min-width:1100px) and (max-width:1619px)  {
                width: 305.52px;
                height: 171.34px;
            }
            @media (min-width:1620px) {
                width: 493px;
                height: 277px;
            }
            &:hover {
                background-size: 130%;
            }
        }
    }
    &__imgslide {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/play.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 56px;
            height: 55px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @media (min-width:601px) and (max-width:1099px) {
                width: 55.3px;
                height: 55.3px;
            }
            @media (min-width:1100px) and (max-width:1619px) {
                width: 75.61px;
                height: 75.61px;
            }
            @media (min-width:1620px) {
                width: 122px;
                height: 122px;
            }
        }
    }
}

//slider-products
.slider-products {
    &__slide {
        width: 163px;
        height: 267px;
        background-color: #302825;
        border-radius: 10px;
        position: relative;
        padding-top: 29px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 224.32px;
            height: 234.78px;
            border-radius: 5px;
            padding-top: 17px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 305.04px;
            height: 319.27px;
            border-radius: 6px;
            padding-top: 24px;
        }
        @media (min-width:1620px) {
            width: 493px;
            height: 516px; 
            border-radius: 10px;
            padding-top: 39px;  
        }
    }
    &__img {
        display: block;
        background-size: 120%;
        background-position: center;
        margin: 0 auto;
        background-repeat: no-repeat;
        width: 127px;
        height: 167px;
        filter: drop-shadow(0px 0px 13.65px rgba(0, 0, 0, 0.2));
        @media (min-width:601px) and (max-width:1099px) {
            width: 116.03px;
            height: 151.97px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 157.78px;
            height: 206.66px;
        }
        @media (min-width:1620px) {
            width: 255px;
            height: 334px;  
        }
    }
    &__title {
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 24px;
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 13px;
            line-height: 18px;
            margin-top: 18px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            font-size: 18px;
            line-height: 24px;
            margin-top: 24px;
        }
        @media (min-width:1620px) {
            font-size: 30px;
            line-height: 41px; 
            margin-top: 40px;
        }
    }
    &__btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -13px;
        width: 110.57px;
        height: 26px;
        font-size: 10px;
        line-height: 150%;
        @media (min-width:601px) and (max-width:1099px) {
            width: 124.96px;
            height: 29.5px;
            font-size: 11px;
            bottom: -14px;
            &:before {
                width: 28.93px;
                height: 29.5px;
            }
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 133.65px;
            height: 32px;
            font-size: 12px;
            bottom: -16px;
            padding-left: 18px;
            &:before {
                width: 30.94px;
                height: 32px;
            }
        }
        @media (min-width:1620px) {
            width: 216px;
            height: 51px; 
            font-size: 18px;
            padding-left: 36px; 
            bottom: -25px;
            &::before {
                width: 50px;
                height: 51px;
            }
        }
    }
     //padding-slide
     .slick-slide {
        margin: 0 10px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 20px;
        }
        @media (min-width:1620px) {
            margin: 0 30px;
        }
    }
    .slick-list {
        margin: 0 -10px;
        height: 280px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 -15px;
            height: 250px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 -20px;
            height: 340px;
        }
        @media (min-width:1620px) {
            margin: 0 -30px;
            height: 550px;
        }
    }
    //dots
    .slick-dots {
        bottom: -41px;
    }
    .slick-dots li {
        width: 11px;
        height: 11px;
    }
    .slick-dots li button {
        width: 11px;
        height: 11px;
        &:before {
            opacity: 1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            content: '';
            transition: 0.3s ease;
            width: 11px;
            height: 11px;
        }
    }
    .slick-dots li.slick-active button:before {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        opacity: 1;
    }
    //arrow
    .slick-arrow {
        z-index: 3;
        width: 29px;
        height: 29px;
        top: 46%;
        @media (min-width:1620px) {
            top: 50%;
        }
        &::before {
            content: '';
            display: block;
            background-image: url(../img/arrow-slider.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 29px;
            height: 29px;
            @media (min-width:1620px) {
                
            }
        }
    }
    .slick-next {
        right: -40px;
        @media (min-width:1620px) {
            right: -50px;
        }
    }
    .slick-prev {
        left: -40px;
        &::before {
            transform: rotate(180deg);
        }
        @media (min-width:1620px) {
            left: -50px;
        }
    }
}

//headsets-slider
.slider-headsets {
    margin: 40px 0 120px !important;
    @media (min-width:601px) and (max-width:1099px) {
        margin: 40px 0 80px !important;
    }
    @media (min-width:1100px) and (max-width:1619px) {
        margin: 40px 0 120px !important;
    }
    @media (min-width:1620px) {
        margin: 50px 0 150px !important;
    }
    &__slide {
        background: #302825;
        border-radius: 10px;
        width: 163px;
        height: 128px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 218.09px;
            height: 170.79px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 219.52px;
            height: 171.91px;
        }
        @media (min-width:1620px) {
            width: 355px;
            height: 278px;  
        }
        a {
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 107px;
            height: 108px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @media (min-width:601px) and (max-width:1099px) {
                width: 144.37px;
                height: 144.37px;
            }
            @media (min-width:1100px) and (max-width:1619px)  {
                width: 145.32px;
                height: 145.32px;  
            }
            @media (min-width:1620px) {
                width: 235px;
                height: 235px;
            }
        }
    }
     //padding-slide
    .slick-slide {
        margin: 0 10px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 20px;
        }
        @media (min-width:1620px) {
            margin: 0 30px;
        }
    }
    .slick-list {
        margin: 0 -10px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 -15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 -20px;
        }
        @media (min-width:1620px) {
            margin: 0 -30px;
        }
    }
    //dots
    .slick-dots {
        bottom: -41px;
        @media (min-width:601px) and (max-width:1099px) {
            bottom: initial;
            top: -65px;
            text-align: right;
            width: 100px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            bottom: initial;
            top: -65px;
            text-align: left;
            padding-left: 26px;
            width: 170px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1620px) {
            bottom: initial;
            top: -87px;
            text-align: left;
            padding-left: 26px;
            width: 270px;
            right: 0;
            background-color: #1C1512;
        }
    }
    .slick-dots li {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
    }
    .slick-dots li button {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
        &:before {
            opacity: 1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            content: '';
            transition: 0.3s ease;
            width: 11px;
            height: 11px;
            @media (min-width:1100px) and (max-width:1619px) {
                width: 7px;
                height: 7px;
            }
        }
    }
    .slick-dots li.slick-active button:before {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        opacity: 1;
    }
    //arrow
    .slick-arrow {
        top:-53px;
        right: 0;
        left: initial;
        z-index: 3;
        width: 24px;
        height: 12px;
        @media (min-width:1620px) {
            top: -71px;
            width: 37px;
            height: 19px;
        }
        &::before {
            content: '';
            display: block;
            background-image: url(../img/arrow-slider.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 12px;
            @media (min-width:1620px) {
                width: 37px;
                height: 19px;
            }
        }
    }
    .slick-prev {
        right: 30px;
        transform: rotate(180deg);
        top:-59px;
        @media (min-width:1620px) {
            top: -81px;
        }
    }
}

//fittings-slider-window

.slider-fitting-window {
    &__slide {
        position: relative;
        @media (min-width:601px) and (max-width:1099px) {
            padding-top: 16px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            padding-top: 14px;
        }
        @media (min-width:1620px) {
            padding-top: 23px;  
        }
    }
    &__contain {
        width: 163px;
        height: 150px;
        background-color: #302825;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width:601px) and (max-width:1099px) {
            width: 349px;
            height: 210.96px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 305.04px;
            height: 184.39px;
        }
        @media (min-width:1620px) {
            width: 493px;
            height: 298px;
        }
    }
    &__img {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 141px;
        height: 85px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 267.59px;
            height: 160.7px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 233.89px;
            height: 140.46px;
        }
        @media (min-width:1620px) {
            width: 378px;
            height: 227px;  
        }
    }
    &__title {
        margin: 10px 0 15px;
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 0;
            margin-top: 18px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin-bottom: 0;
            margin-top: 15px;
            font-size: 15px;
            line-height: 20px;
        }
        @media (min-width:1620px) {
            margin-bottom: 0;
            margin-top: 25px;
            font-size: 24px;
            line-height: 33px;
        }
    }
    &__btn {
        width: 100%;
        height: 40px;
        font-size: 14px;
        line-height: 19px;
        @media (min-width:601px) and (max-width:1099px) {
            position: absolute;
            top: 0;
            right: 20px;
            width: 116.81px;
            height: 32.56px;
            font-size: 12px;
            line-height: 16px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            position: absolute;
            top: 0;
            right: 18px;
            width: 102.09px;
            height: 28.46px;
            font-size: 10px;
            line-height: 14px;
        }
        @media (min-width:1620px) {
            position: absolute;
            top: 0;
            right: 29px;
            width: 165px;
            height: 46px;
            font-size: 16px;
            line-height: 22px;
        }
    }
     //padding-slide
     .slick-slide {
        margin: 0 10px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 20px;
        }
        @media (min-width:1620px) {
            margin: 0 30px;
        }
    }
    .slick-list {
        margin: 0 -10px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 -15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 -20px;
        }
        @media (min-width:1620px) {
            margin: 0 -30px;
        }
    }
    //dots
    .slick-dots {
        bottom: -41px;
        @media (min-width:601px) and (max-width:1099px) {
            bottom: initial;
            top: -49px;
            text-align: right;
            width: 100px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            bottom: initial;
            top: -65px;
            text-align: left;
            padding-left: 26px;
            width: 170px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1620px) {
            bottom: initial;
            top: -87px;
            text-align: left;
            padding-left: 26px;
            width: 270px;
            right: 0;
            background-color: #1C1512;
        }
    }
    .slick-dots li {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
    }
    .slick-dots li button {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
        &:before {
            opacity: 1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            content: '';
            transition: 0.3s ease;
            width: 11px;
            height: 11px;
            @media (min-width:1100px) and (max-width:1619px) {
                width: 7px;
                height: 7px;
            }
        }
    }
    .slick-dots li.slick-active button:before {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        opacity: 1;
    }
    //arrow
    .slick-arrow {
        top:-53px;
        right: 0;
        left: initial;
        z-index: 3;
        width: 24px;
        height: 12px;
        @media (min-width:1620px) {
            top: -71px;
            width: 37px;
            height: 19px;
        }
        &::before {
            content: '';
            display: block;
            background-image: url(../img/arrow-slider.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 12px;
            @media (min-width:1620px) {
                width: 37px;
                height: 19px;
            }
        }
    }
    .slick-prev {
        right: 30px;
        transform: rotate(180deg);
        top:-59px;
        @media (min-width:1620px) {
            top: -81px;
        }
    }
}

//fittings-slider-door

.slider-fittings-door {
    &__slide {
        position: relative;
    }
    &__contain {
        width: 163px;
        height: 150px;
        background-color: #302825;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width:601px) and (max-width:1099px) {
            width: 217.67px;
            height: 182.72px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 219.66px;
            height: 184.39px;  
        }
        @media (min-width:1620px) {
            width: 355px;
            height: 298px;  
        }
    }
    &__img {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 112px;
        height: 112px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 131.83px;
            height: 131.83px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 133.03px;
            height: 133.03px; 
        }
        @media (min-width:1620px) {
            width: 215px;
            height: 215px;   
        }
    }
    &__title {
        margin: 10px 0 15px;
        font-family: 'Prata',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 14px;
            line-height: 19px;
            margin: 15px 0;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            font-size: 15px;
            line-height: 20px;
            margin: 15px 0;
        }
        @media (min-width:1620px) {
            font-size: 24px;
            line-height: 33px; 
            margin: 25px 0;
        }
    }
    &__btn {
        width: 100%;
        height: 40px;
        font-size: 14px;
        line-height: 19px;
        @media (min-width:601px) and (max-width:1099px) {
            width: 133.05px;
            height: 28.2px;
            font-size: 10px;
            line-height: 14px;
            margin-left: auto;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 134.27px;
            height: 28.46px;
            font-size: 10px;
            line-height: 14px; 
            margin-left: auto;
        }
        @media (min-width:1620px) {
            width: 217px;
            height: 46px;
            font-size: 16px;
            line-height: 22px;
            margin-left: auto;
        }
    }
     //padding-slide
     .slick-slide {
        margin: 0 10px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 20px;
        }
        @media (min-width:1620px) {
            margin: 0 30px;
        }
    }
    .slick-list {
        margin: 0 -10px;
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 -15px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            margin: 0 -20px;
        }
        @media (min-width:1620px) {
            margin: 0 -30px;
        }
    }
    //dots
    .slick-dots {
        bottom: -41px;
        @media (min-width:601px) and (max-width:1099px) {
            bottom: initial;
            top: -63px;
            text-align: right;
            width: 100px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            bottom: initial;
            top: -65px;
            text-align: left;
            padding-left: 26px;
            width: 170px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1620px) {
            bottom: initial;
            top: -87px;
            text-align: left;
            padding-left: 26px;
            width: 270px;
            right: 0;
            background-color: #1C1512;
        }
    }
    .slick-dots li {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
    }
    .slick-dots li button {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
        &:before {
            opacity: 1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            content: '';
            transition: 0.3s ease;
            width: 11px;
            height: 11px;
            @media (min-width:1100px) and (max-width:1619px) {
                width: 7px;
                height: 7px;
            }
        }
    }
    .slick-dots li.slick-active button:before {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        opacity: 1;
    }
    //arrow
    .slick-arrow {
        top:-53px;
        right: 0;
        left: initial;
        z-index: 3;
        width: 24px;
        height: 12px;
        @media (min-width:1620px) {
            top: -71px;
            width: 37px;
            height: 19px;
        }
        &::before {
            content: '';
            display: block;
            background-image: url(../img/arrow-slider.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 12px;
            @media (min-width:1620px) {
                width: 37px;
                height: 19px;
            }
        }
    }
    .slick-prev {
        right: 30px;
        transform: rotate(180deg);
        top:-59px;
        @media (min-width:1620px) {
            top: -81px;
        }
    }
}