.card-block {
    &__content {
        padding: 245px 0 100px;
        @media (min-width:601px) and (max-width:1099px) {
            padding: 142px 0 98px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            padding: 180px 0 140px;
        }
        @media (min-width:1620px) {
            padding: 245px 0 150px; 
        }
    }
    &__card {
        width: 100%;
        position: relative;
        padding: 96px 20px 27px;
        background-color: #302825;
        border-radius: 10px;
        @media (min-width:601px) and (max-width:1099px) {
            padding: 25px 281px 43px 30px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            padding: 30px 343px 51px 46px;
        }
        @media (min-width:1620px) {
            padding: 40px 553px 65px 78px;    
        }
    }
    &__text {
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.7);
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 12px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            font-size: 12px;
        }
        @media (min-width:1620px) {
            font-size: 18px;   
        }  
    }
    &__img {
        display: block;
        background-image: url(../img/window/1.png);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
        width: 205px;
        height: 267px;
        filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
        position: absolute;
        top:-190px;
        left: 50%;
        transform: translateX(-50%);
        @media (min-width:601px) and (max-width:1099px) {
            width: 222px;
            height: 291px;
            top: initial;
            left: initial;
            transform: translateX(0);
            right: 32px;
            bottom: 42px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 213px;
            height: 279px;
            top: initial;
            left: initial;
            transform: translateX(0);
            right: 78px;
            bottom: 51px;
        }
        @media (min-width:1620px) {
            width: 355px;
            height: 465px;
            top: initial;
            left: initial;
            transform: translateX(0);
            right: 138px;
            bottom: 36px;   
        }
    }
    &__btn {
        width: 166px;
        height: 40px;
        font-size: 14px;
        line-height: 19px;
        position: absolute;
        right: 23px;
        bottom: -20px;
        @media (min-width:601px) and (max-width:1099px) {
            right: initial;
            width: 160px;
            height: 35.7px;
            left: 27px;
            bottom: -17px;
            font-size: 12px;
            line-height: 16px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            right: initial;
            width: 188px;
            height: 42px;
            left: 46px;
            bottom: -21px;
            font-size: 14px;
            line-height: 19px;
        }
        @media (min-width:1620px) {
            right: initial;
            width: 242px;
            height: 54px;
            left: 78px;
            bottom: -27px;
            font-size: 18px;
            line-height: 24px;
        }
    }
}