.specifications {
    &__grid {
        // display: grid;
        // grid-template-columns: repeat(3, minmax(0px, 1fr));
        // gap: 1.5rem;
        // grid-auto-rows: minmax(100px, auto);
        // grid-gap: 1.5rem;
        padding: 80px 0 120px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 700px;
    }
    &__elem {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__img {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 32px;
        height: 33px;
        margin-right: 20px;
    }
    &__info {
        h4 {
            font-family: 'Prata',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #FFD776;
            margin-bottom: 5px;
        }
        p {
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
}