.where-applicable {
    &__content {
        padding: 80px 0 120px;
        @media (max-width:600px) {
            padding: 40px 0 100px;  
        }
        @media (min-width:601px) and (max-width:1099px) {
            padding: 50px 0 100px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            padding: 60px 0 70px;
        }
    }
    .slick-slide {
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 15px;
        }
    }
    .slick-track {
        @media (min-width:601px) and (max-width:1099px) {
            margin: 0 -15px 0 0;
        }
    }
    &__slider-card {
        width: fit-content;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        p {
            font-family: 'Prata',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #FFFFFF;
            @media (max-width:600px) {
                font-size: 16px;
                line-height: 22px;
            }
            @media (min-width:601px) and (max-width:1099px) {
                font-size: 16px;
                line-height: 22px;
            }
            @media (min-width:1100px) and (max-width:1619px) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    &__img {
        display: block;
        width: 493px;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin-bottom: 30px;
        @media (max-width:600px) {
            width: 100%;
            height: 230px;
            margin-bottom: 15px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            width: 253px;
            height: 170px;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            width: 303px;
            height: 200px;
        }
    }
    //dots
    .slick-dots {
        bottom: -41px;
        @media (min-width:601px) and (max-width:1099px) {
            bottom: initial;
            top: -75px;
            text-align: right;
            width: 100px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1100px) and (max-width:1619px) {
            bottom: initial;
            top: -55px;
            text-align: left;
            padding-left: 26px;
            width: 170px;
            right: 0;
            background-color: #1C1512;
        }
        @media (min-width:1620px) {
            bottom: initial;
            top: -87px;
            text-align: left;
            padding-left: 26px;
            width: 270px;
            right: 0;
            background-color: #1C1512;
        }
    }
    .slick-dots li {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
    }
    .slick-dots li button {
        width: 11px;
        height: 11px;
        @media (min-width:1100px) and (max-width:1619px) {
            width: 7px;
            height: 7px;
        }
        &:before {
            opacity: 1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            content: '';
            transition: 0.3s ease;
            width: 11px;
            height: 11px;
            @media (min-width:1100px) and (max-width:1619px) {
                width: 7px;
                height: 7px;
            }
        }
    }
    .slick-dots li.slick-active button:before {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        opacity: 1;
    }
}