<div class="fittings-slider-door">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Фурнитура для дверей</h2>
        </div>
        <div class="fittings-slider-door__slider">
            <div class="slider-fittings-door">

                <div class="slider-fittings-door__slide">
                    <div class="slider-fittings-door__contain">
                        <a class="slider-fittings-door__img" style="background-image: url(img/fittings/3.png);"></a>
                    </div>
                    <h3 class="slider-fittings-door__title">Название фурнитуры</h3>
                    <a class="slider-fittings-door__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fittings-door__slide">
                    <div class="slider-fittings-door__contain">
                        <a class="slider-fittings-door__img" style="background-image: url(img/fittings/3.png);"></a>
                    </div>
                    <h3 class="slider-fittings-door__title">Название фурнитуры</h3>
                    <a class="slider-fittings-door__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fittings-door__slide">
                    <div class="slider-fittings-door__contain">
                        <a class="slider-fittings-door__img" style="background-image: url(img/fittings/3.png);"></a>
                    </div>
                    <h3 class="slider-fittings-door__title">Название фурнитуры</h3>
                    <a class="slider-fittings-door__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fittings-door__slide">
                    <div class="slider-fittings-door__contain">
                        <a class="slider-fittings-door__img" style="background-image: url(img/fittings/3.png);"></a>
                    </div>
                    <h3 class="slider-fittings-door__title">Название фурнитуры</h3>
                    <a class="slider-fittings-door__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fittings-door__slide">
                    <div class="slider-fittings-door__contain">
                        <a class="slider-fittings-door__img" style="background-image: url(img/fittings/3.png);"></a>
                    </div>
                    <h3 class="slider-fittings-door__title">Название фурнитуры</h3>
                    <a class="slider-fittings-door__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fittings-door__slide">
                    <div class="slider-fittings-door__contain">
                        <a class="slider-fittings-door__img" style="background-image: url(img/fittings/3.png);"></a>
                    </div>
                    <h3 class="slider-fittings-door__title">Название фурнитуры</h3>
                    <a class="slider-fittings-door__btn btn btn_yellow">Заказать</a>
                </div>

            </div>
        </div>
    </div>
</div>