<div class="fittings-slider-window">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Фурнитура для окон</h2>
        </div>
        <div class="fittings-slider-window__slider">
            <div class="slider-fitting-window">

                <div class="slider-fitting-window__slide">
                    <div class="slider-fitting-window__contain">
                        <a class="slider-fitting-window__img" style="background-image: url(img/fittings/2.png);"></a>
                    </div>
                    <h3 class="slider-fitting-window__title">Название фурнитуры</h3>
                    <a class="slider-fitting-window__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fitting-window__slide">
                    <div class="slider-fitting-window__contain">
                        <a class="slider-fitting-window__img" style="background-image: url(img/fittings/2.png);"></a>
                    </div>
                    <h3 class="slider-fitting-window__title">Название фурнитуры</h3>
                    <a class="slider-fitting-window__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fitting-window__slide">
                    <div class="slider-fitting-window__contain">
                        <a class="slider-fitting-window__img" style="background-image: url(img/fittings/2.png);"></a>
                    </div>
                    <h3 class="slider-fitting-window__title">Название фурнитуры</h3>
                    <a class="slider-fitting-window__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fitting-window__slide">
                    <div class="slider-fitting-window__contain">
                        <a class="slider-fitting-window__img" style="background-image: url(img/fittings/2.png);"></a>
                    </div>
                    <h3 class="slider-fitting-window__title">Название фурнитуры</h3>
                    <a class="slider-fitting-window__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fitting-window__slide">
                    <div class="slider-fitting-window__contain">
                        <a class="slider-fitting-window__img" style="background-image: url(img/fittings/2.png);"></a>
                    </div>
                    <h3 class="slider-fitting-window__title">Название фурнитуры</h3>
                    <a class="slider-fitting-window__btn btn btn_yellow">Заказать</a>
                </div>

                <div class="slider-fitting-window__slide">
                    <div class="slider-fitting-window__contain">
                        <a class="slider-fitting-window__img" style="background-image: url(img/fittings/2.png);"></a>
                    </div>
                    <h3 class="slider-fitting-window__title">Название фурнитуры</h3>
                    <a class="slider-fitting-window__btn btn btn_yellow">Заказать</a>
                </div>

            </div>
        </div>
    </div>
</div>