<div class="appointment-window">
    <div class="wrapper">
        <div class="appointment-window__content">

            <div class="appointment-window__textblock">
                <div class="appointment-window__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed justo quam. Maecenas sit amet dolor urna. Aenean sagittis enim massa, at tincidunt tellus consectetur vitae. Aliquam sit amet molestie tortor. Donec arcu nulla, blandit at tortor eu, interdum pulvinar eros. Donec vestibulum imperdiet blandit. Nam eu lacinia libero, sed fermentum eros. Duis bibendum, nunc eu auctor dignissim, libero risus aliquet neque, id sagittis dolor mi quis orci. Aliquam dignissim lectus sed convallis consequat. Mauris rutrum semper sapien, in dapibus nulla pretium sed.
                </div>
                <div class="appointment-window__text">
                    Nam neque velit, ultricies nec mauris sed, dignissim accumsan nulla. In ullamcorper est ornare leo faucibus, sed finibus ante suscipit. Nulla vitae dui nec mi sagittis ultrices. Curabitur a nulla tempor, interdum nibh in, semper urna. Vestibulum purus nulla, porta eu odio sit amet, hendrerit pretium dolor. Donec at est quis ligula egestas pharetra suscipit vitae purus. Etiam placerat lacus non ex commodo lacinia. Phasellus id suscipit dui, vel mollis odio. Cras et lectus in felis suscipit aliquet sed id ante. Nunc velit purus, sagittis sit amet laoreet nec, vulputate quis elit.
                </div>
            </div>

            <div class="appointment-window__grid">

                <div class="appointment-window__elem">
                    <a class="appointment-window__img" style="background-image: url(img/appointment-window/1.png);"></a>
                    <h3 class="appointment-window__title">В офис</h3>
                </div>

                <div class="appointment-window__elem">
                    <a class="appointment-window__img" style="background-image: url(img/appointment-window/2.png);"></a>
                    <h3 class="appointment-window__title">В частный дом</h3>
                </div>

                <div class="appointment-window__elem">
                    <a class="appointment-window__img" style="background-image: url(img/appointment-window/3.png);"></a>
                    <h3 class="appointment-window__title">В квартиру</h3>
                </div>

                <div class="appointment-window__elem appointment-window__elem_notmobile">
                    <a class="appointment-window__img" style="background-image: url(img/appointment-window/1.png);"></a>
                    <h3 class="appointment-window__title">В офис</h3>
                </div>

                <div class="appointment-window__elem appointment-window__elem_notmobile">
                    <a class="appointment-window__img" style="background-image: url(img/appointment-window/2.png);"></a>
                    <h3 class="appointment-window__title">В частный дом</h3>
                </div>

                <div class="appointment-window__elem appointment-window__elem_notmobile">
                    <a class="appointment-window__img" style="background-image: url(img/appointment-window/3.png);"></a>
                    <h3 class="appointment-window__title">В квартиру</h3>
                </div>
            </div>
        </div>
    </div>
</div>