<div class="one-window-pads-block pads-block">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Цены деревяных дверей</h2>
        </div>
        <div class="pads-block__content">
            <!-- pads -->
            <div class="pads-block__pads">
                <a data-target="#one-block-wood-doors" class="pads-block__pad active">Сосна</a>
                <a data-target="#two-block-wood-doors" class="pads-block__pad">Лиственница</a>
                <a data-target="#three-block-wood-doors" class="pads-block__pad">Дуб</a>
                <a data-target="#four-block-wood-doors" class="pads-block__pad">Меранти</a>
            </div>
            <!-- blocks -->
            <div class="pads-block__blocks">
                <!-- one-block -->
                <div id="one-block-wood-doors" class="pads-block__oneblock pads-block__oneblock_wood-doors active">
                    <!-- cards -->
                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                </div>
                <!-- two-block -->
                <div id="two-block-wood-doors" class="pads-block__oneblock pads-block__oneblock_wood-doors">
                    <!-- cards -->
                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                </div>
                <!-- three-block -->
                <div id="three-block-wood-doors" class="pads-block__oneblock pads-block__oneblock_wood-doors">
                    <!-- cards -->
                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                </div>
                <!-- four-block -->
                <div id="four-block-wood-doors" class="pads-block__oneblock pads-block__oneblock_wood-doors">
                    <!-- cards -->
                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                    <div class="pads-block__card card-pads-block card-pads-block_wood-doors">
                        <div class="card-pads-block__img card-pads-block__img_wood-doors">
                            <a style="background-image: url(img/pads-block/wood-door/1.png);"></a>
                        </div>
                        <div class="card-pads-block__info card-pads-block__info_wood-doors">
                            <h3>Название товара</h3>
                            <p>от 12 900 ₽ м2</p>
                        </div>
                        <div class="card-pads-block__btns card-pads-block__btns_wood-doors">
                            <a class="btn btn_black">Сделать расчет</a>
                            <a class="btn btn_yellow">Заказать звонок</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>