<div class="blog-grid">
    <div class="wrapper">
        <div class="blog-grid__content">

            <div class="blog-grid__card-double">

                <div class="blog-grid__card">
                    <div class="blog-grid__img" style="background-image: url(img/blog/1.png);">
                        <a class="blog-grid__img-before">
                            <span class="num">8</span>
                            <span class="month">Июля</span>
                            <span class="year">2020</span>
                        </a>
                    </div>
                    <div class="blog-grid__info">
                        <h3 class="blog-grid__title">Большие окна в дом</h3>
                        <p class="blog-grid__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        <a class="blog-grid__btn btn">Читать статью</a>
                    </div>
                </div>

                <div class="blog-grid__card">
                    <div class="blog-grid__img" style="background-image: url(img/blog/2.png);">
                        <a class="blog-grid__img-before">
                            <span class="num">8</span>
                            <span class="month">Июля</span>
                            <span class="year">2020</span>
                        </a>
                    </div>
                    <div class="blog-grid__info">
                        <h3 class="blog-grid__title">Стильные двери</h3>
                        <p class="blog-grid__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        <a class="blog-grid__btn btn">Читать статью</a>
                    </div>
                </div>

            </div>

            <div class="blog-grid__video blog-grid__video_big" style="background-image: url(img/blog/3.png);">

            </div>

            <div class="blog-grid__card blog-grid__card_beforeimg">
                <div class="blog-grid__img" style="background-image: url(img/blog/4.png);">
                    <a class="blog-grid__img-before blog-grid__img-before_img" style="background-image: url(img/blog/5.png);"></a>
                </div>
                <div class="blog-grid__info">
                    <h3 class="blog-grid__title blog-grid__title_img">Большие окна в дом</h3>
                    <p class="blog-grid__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    <a class="blog-grid__btn btn">Читать статью</a>
                </div>
            </div>
            
            <div class="blog-grid__card">
                <div class="blog-grid__img" style="background-image: url(img/blog/6.png);">
                    <a class="blog-grid__img-before">
                        <span class="num">8</span>
                        <span class="month">Июля</span>
                        <span class="year">2020</span>
                    </a>
                </div>
                <div class="blog-grid__info">
                    <h3 class="blog-grid__title">Большие окна в дом</h3>
                    <p class="blog-grid__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    <a class="blog-grid__btn btn">Читать статью</a>
                </div>
            </div>

            <div class="blog-grid__card">
                <div class="blog-grid__img" style="background-image: url(img/blog/7.png);">
                    <a class="blog-grid__img-before">
                        <span class="num">8</span>
                        <span class="month">Июля</span>
                        <span class="year">2020</span>
                    </a>
                </div>
                <div class="blog-grid__info">
                    <h3 class="blog-grid__title">Стильные двери</h3>
                    <p class="blog-grid__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    <a class="blog-grid__btn btn">Читать статью</a>
                </div>
            </div>

            <div class="blog-grid__video" style="background-image: url(img/blog/8.png);">

            </div>
            
            <div class="blog-grid__video" style="background-image: url(img/blog/9.png);">

            </div>

            <div class="blog-grid__card">
                <div class="blog-grid__img" style="background-image: url(img/blog/10.png);">
                    <a class="blog-grid__img-before">
                        <span class="num">8</span>
                        <span class="month">Июля</span>
                        <span class="year">2020</span>
                    </a>
                </div>
                <div class="blog-grid__info">
                    <h3 class="blog-grid__title">Большие окна в дом</h3>
                    <p class="blog-grid__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    <a class="blog-grid__btn btn">Читать статью</a>
                </div>
            </div>
            
        </div>
        <!-- nav -->
        <div class="blog-grid__nav">
            <a class="blog-grid__arrow blog-grid__arrow_left">Предыдущая</a>
            <div class="blog-grid__pages">
                <a>1</a>
                <a class="active">2</a>
                <a>3</a>
                <a>4</a>
            </div>
            <a class="blog-grid__arrow blog-grid__arrow_right">Следующая</a>
        </div>

    </div>
</div>