<div class="basic-colors">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Цветовая палитра окладов (базовые цвета)</h2>
        </div>
        <div class="basic-colors__content">

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/2-05.png);"></a>
                <p>Анодированный</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/2-11.png);"></a>
                <p>Желтый апельсин</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/2-14.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/2-18.png);"></a>
                <p>Бирюзовое море</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/2-27.png);"></a>
                <p>Белая фисташка</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/3-01-MAT.png);"></a>
                <p>Желтый апельсин</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/3-04-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/3-08-MAT.png);"></a>
                <p>Бирюзовое море</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/3-11-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/3-12-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/3-16-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>


            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/P1-F1-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/P1-F5-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/P4-F2-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/P4-F5-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background-image: url(img/wood-window/basic-color/P7-F7-MAT.png);"></a>
                <p>Красный гранат</p>
            </div>

        </div>
    </div>
</div>