<div class="basic-colors">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Цветовая палитра окладов (базовые цвета)</h2>
        </div>
        <div class="basic-colors__content">

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #D4F6A7 0%, #EDFFD7 49.77%, #D4F7A7 100%);"></a>
                <p>Белая фисташка</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #FFBC17 0%, #FFD776 49.77%, #FFBC17 100%);"></a>
                <p>Желтый апельсин</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #FF777D 0%, #FF9CA1 49.77%, #FF6269 100%);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #17FF90 0%, #8DFFBD 47.92%, #17FF90 99.99%);"></a>
                <p>Бирюзовое море</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #D4F6A7 0%, #EDFFD7 49.77%, #D4F7A7 100%);"></a>
                <p>Белая фисташка</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #FFBC17 0%, #FFD776 49.77%, #FFBC17 100%);"></a>
                <p>Желтый апельсин</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #FF777D 0%, #FF9CA1 49.77%, #FF6269 100%);"></a>
                <p>Красный гранат</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #17FF90 0%, #8DFFBD 47.92%, #17FF90 99.99%);"></a>
                <p>Бирюзовое море</p>
            </div>

            <div class="basic-colors__elem">
                <a class="basic-colors__img" style="background: linear-gradient(180deg, #FF777D 0%, #FF9CA1 49.77%, #FF6269 100%);"></a>
                <p>Красный гранат</p>
            </div>

        </div>
    </div>
</div>