<div class="benefits-window">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Премущества дерево алюминиевых окон</h2>
        </div>
        <div class="benefits-window__content">
            <div class="benefits-window__text benefits-window__text1">
                Особенность этой  системы в том, что алюминиевый оклад может быть установлен на стандартное деревянное окно и не требует специальной оснастки для производства и изменения в конфигурации профиля изделия.
                <br><br>
                Пожалуй, лучший способ продлить срок службы деревянного окна — защитить его снаружи алюминиевыми накладками. Деревянные окна, облицованные с внешней стороны алюминиевыми профилями, объединили в себе все лучшие свойства как деревянных, так и алюминиевых окон. Ведь устойчивости к старению и внешним климатическим воздействиям (влаге, ультрафиолетовым лучам, кислотной среде), высокую экологичность, хорошую тепло- и звукоизоляцию достичь только природными материалами непросто. Благодаря естественной вентиляции между деревом и алюминиевыми профилями окна не подвержены гниению.
                </div>
            <div class="benefits-window__img">
                <a class="benefits-window__imgin"></a>
            </div>
            <div class="benefits-window__text benefits-window__text2">
                Технология изготовления дерево-алюминиевых окон пришла к нам из Европы, где подобные конструкции пользуются повышенным спросом. Все большее распространение получают защитные облицовочные профили и на российском рынке, причем в самых разных его сегментах: и в частных заказах, и в малоэтажном строительстве, и на крупных коммерческих объектах.
            </div>
            <ul class="benefits-window__list">
                <li>алюминиевый профиль защищает дерево от агрессивного влияния внешней среды, серьезных повреждений, влаги</li>
                <li>повышенный уровень тепловой и звуковой изоляции</li>
                <li>алюминий может быть окрашен в любой цвет по таблице RAL</li>
                <li>в помещениях остается дерево, за счет чего там уютно и комфортно</li>
                <li>практически требуют ухода</li>
                <li>все полезные свойства древесины остаются</li>
                <li>выглядят окна с течением времени фактически неизменно</li>
            </ul>
        </div>
    </div>
</div>