<div class="card-block">
    <div class="wrapper">
        <div class="card-block__content">
            <div class="card-block__card">
                <p class="card-block__text">
                    Помимо чисто деревянных окон мы производим так называемые дерево-алюминиевые окна. Фактически такие окна отличаются от просто деревянных наличием с внешней стороны защитного алюминиевого оклада производства немецкой фирмы Gutmann. Существует много производителей алюминиевых окладов, но немецкий концерн Gutmann — законодатель мод и, в определенной мере, планка, на которую равняются остальные. К тому же поставки ведутся из Германии.
                </p>
                <a class="card-block__img"></a>
                <a class="card-block__btn btn btn_yellow">Сделать расчет</a>
            </div>
        </div>
    </div>
</div>