<div class="distinctive">
    <div class="wrapper">
        <div class="distinctive__content">
            <div class="title title_before">
                <h2>Отличительные особенности</h2>
            </div>
            <div class="distinctive__grid">
                <p class="distinctive__info">
                    В данной модели привычный оклад традиционной формы выполнен из цельнопаянного алюминия. Угол наклона внутренней части створок может варьироваться и достигать 90 градусов. Все больше людей в наше время при выборе оконных системы, останавливаются на тех окнах, которые выполнены из безопасных и экологичных материалов. Потребители все чаще выбирают отделку для дома, элементы декора, мебель и окна из натуральной древесины.
                </p>
                <div class="distinctive__brown-block">
                    <h3>Современные технологии позволяют объединять различные материалы и получать в результате красивый, безопасный, прочный и долговечный продукт. Стоимость деревянного стеклопакета зависит от нескольких важных факторов:</h3>
                    <ul>
                        <li>Размера</li>
                        <li>Количества камер</li>
                        <li>Породы древесины</li>
                    </ul>
                </div>
                <div class="distinctive__img-block">
                    <a class="distinctive__img"></a>
                    <p>
                        Наиболее бюджетные стеклопакеты делают из сосны. Самые дорогие окна делают на основе древесины дуба. Средний по цене и долговечности вариант – стеклопакет из лиственницы.
                        <br><br>
                        Какую бы породу дерева вы не выбрали, деревянные стеклопакеты из нее будут безопасными для здоровья и экологии, будут надежно удерживать тепло и защищать дом от шума улицы. Фактура натурального дерева легко впишется в любой интерьер, от классического до ультрасовременного.
                        <br><br>
                        Многие считают, что одни породы дерева более устойчивы к воздействию внешних факторов, чем другие. На самом деле, современные методы обработки материалов позволяют, например, сосне служить так же долго, как дубу.
                        <br><br>
                        У окон из натурального дерева есть еще одна отличительная черта. Благодаря микропорам в структуре материала, происходит естественный обмен воздухом между внешней средой и помещением. Это позволяет поддерживать благоприятный микроклимат в доме.
                        <br><br>
                        Производители окон долгое время находились в поисках такой технологии, которая бы объединяла в себе экологичность натуральных материалов с прочностью, сравнимой с синтетическими веществами. Идеальным решением стало объединение в одной конструкции дерева и алюминия.
                        <br><br>
                        Легкий и прочный алюминий не боится перепадов температуры, осадков, воздействия солнечных лучей. Накладки из алюминия закрепляются на наружной стороне стеклопакетов. При этом используется аргоновая сварка, которая не оставляет видимых швов на поверхности. В результате получаются красивые и натуральные деревянные окна, которые защищены от воздействия внешних факторов легким и красивым металлом, так полюбившиеся покупателям.
                        <br><br>
                        Выбирая компанию, в которой вы будете заказывать деревоалюминиевые окна, нужно проверить, есть ли у нее собственные производственные мощности и штат квалифицированных сотрудников. Производители, которые отвечают этим требованиям, могут себе позволить проводить гибкую ценовую политику. Покупая окна у них, вы наверняка сможете найти вариант по подходящей для вас цене.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>