<div class="how-much-window">
    <div class="wrapper">
        <div class="how-much-window__content">
            <div class="how-much-window__main">
                <div class="title title_before">
                    <h2>Сколько стоят</h2>
                </div>
                <p class="how-much-window__title-info">
                    деревянные окна со стеклопакетом?
                </p>
                <div class="how-much-window__table">
                    <table>
                        <thead>
                            <td>Наименование</td>
                            <td>Цена за м2</td>
                            <td>Примечание</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Эконом</td>
                                <td>7 100 руб.</td>
                                <td>
                                    <a class="how-much-window__btn btn btn_yellow">Купить</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Люкс</td>
                                <td>7 100 руб.</td>
                                <td>
                                    <a class="how-much-window__btn btn btn_yellow">Купить</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Вип</td>
                                <td>7 100 руб.</td>
                                <td>
                                    <a class="how-much-window__btn btn btn_yellow">Купить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="how-much-window__table-mob">

                    <div class="how-much-window__elem">
                        <div>
                            <p>Наименование</p>
                            <span>Эконом</span>
                        </div>
                        <div>
                            <p>Цена за м2</p>
                            <span>7 100 руб.</span>
                        </div>
                        <a class="how-much-window__btn btn btn_yellow">Купить</a>
                    </div>

                    <div class="how-much-window__elem">
                        <div>
                            <p>Наименование</p>
                            <span>Люкс</span>
                        </div>
                        <div>
                            <p>Цена за м2</p>
                            <span>7 100 руб.</span>
                        </div>
                        <a class="how-much-window__btn btn btn_yellow">Купить</a>
                    </div>

                    <div class="how-much-window__elem">
                        <div>
                            <p>Наименование</p>
                            <span>Вип</span>
                        </div>
                        <div>
                            <p>Цена за м2</p>
                            <span>7 100 руб.</span>
                        </div>
                        <a class="how-much-window__btn btn btn_yellow">Купить</a>
                    </div>

                </div>

            </div>
            <a class="how-much-window__img" style="background-image: url(img/wood-window/how-much-window/back.jpg);"></a>
        </div>
    </div>
</div>