<div class="new-benefits-window">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Преимущества</h2>
        </div>
        <div class="new-benefits-window__content">

            <div class="new-benefits-window__elem">
                <a class="new-benefits-window__img" style="background-image: url(img/wood-window/new-benefits/1.jpg);"></a>
                <div class="new-benefits-window__info">
                    <h4>Самые доступные цены</h4>
                    <p>Тут краткий текст преимущества в несколько строчек.</p>
                </div>
            </div>

            <div class="new-benefits-window__elem">
                <a class="new-benefits-window__img" style="background-image: url(img/wood-window/new-benefits/2.jpg);"></a>
                <div class="new-benefits-window__info">
                    <h4>Большой выбор окон</h4>
                    <p>Тут краткий текст преимущества в несколько строчек.</p>
                </div>
            </div>

            <div class="new-benefits-window__elem">
                <a class="new-benefits-window__img" style="background-image: url(img/wood-window/new-benefits/3.jpg);"></a>
                <div class="new-benefits-window__info">
                    <h4>Еще какое-то преимущество</h4>
                    <p>Тут краткий текст преимущества в несколько строчек.</p>
                </div>
            </div>

        </div>
        <a class="new-benefits-window__img-back"></a>
    </div>
</div>