<div class="products-slider">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Товары</h2>
        </div>
        <div class="products-slider__slider">
            <div class="slider-products">

                <div class="slider-products__slide">
                    <a class="slider-products__img" style="background-image: url(img/window/1.png);"></a>
                    <h3 class="slider-products__title">Название товара</h3>
                    <a class="slider-products__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>

                <div class="slider-products__slide">
                    <a class="slider-products__img" style="background-image: url(img/window/1.png);"></a>
                    <h3 class="slider-products__title">Название товара</h3>
                    <a class="slider-products__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>

                <div class="slider-products__slide">
                    <a class="slider-products__img" style="background-image: url(img/window/1.png);"></a>
                    <h3 class="slider-products__title">Название товара</h3>
                    <a class="slider-products__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>

                <div class="slider-products__slide">
                    <a class="slider-products__img" style="background-image: url(img/window/1.png);"></a>
                    <h3 class="slider-products__title">Название товара</h3>
                    <a class="slider-products__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>

                <div class="slider-products__slide">
                    <a class="slider-products__img" style="background-image: url(img/window/1.png);"></a>
                    <h3 class="slider-products__title">Название товара</h3>
                    <a class="slider-products__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>

            </div>
        </div>
        <div class="products-slider__btn">
            <a class="btn btn_gold">Заказать</a>
        </div>
    </div>
</div>