<div class="specifications">
    <div class="wrapper">
        <div class="specifications__content">
            <div class="title title_before">
                <h2>Технические характеристики</h2>
            </div>
            <div class="specifications__grid">

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Материал:</h4>
                        <p>клееный двухслойный брус из сосны</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Сечение бруса:</h4>
                        <p>60х70 мм</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Влажность древесины:</h4>
                        <p>10 % (±2 %)</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Ширина стеклопакета, max:</h4>
                        <p>28 мм</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Теплоизоляция:</h4>
                        <p>0,56 м2 С/Вт</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Звукоизоляция:</h4>
                        <p>26 дБ</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Влажность древесины:</h4>
                        <p>10 % (±2 %)</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Ширина стеклопакета, max:</h4>
                        <p>28 мм</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Теплоизоляция:</h4>
                        <p>0,56 м2 С/Вт</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Звукоизоляция:</h4>
                        <p>26 дБ</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Воздухо - и водонепроницаемость:</h4>
                        <p>двойное уплотнение Deventer</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Сечение бруса:</h4>
                        <p>60х70 мм</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Материал:</h4>
                        <p>клееный двухслойный брус из сосны</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Сечение бруса:</h4>
                        <p>60х70 мм</p>
                    </div>
                </div>

                <div class="specifications__elem">
                    <a class="specifications__img" style="background-image: url(img/circle.svg);"></a>
                    <div class="specifications__info">
                        <h4>Влажность древесины:</h4>
                        <p>10 % (±2 %)</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>