<div class="backcall backcall_contacts">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Обратная связь</h2>
        </div>
        <div class="backcall__content">
            <form class="backcall__form form-backcall">
                <input type="name" placeholder="Введите ваше имя">
                <input type="number" placeholder="Введите ваш телефон">
                <input type="email" placeholder="Введите ваш email">
                <textarea placeholder="Введите ваше сообщение"></textarea>
                <button class="btn btn_gold">Отправить</button>
            </form>
            <div class="backcall__map backcall__map_contacts">
                <a class="backcall__img" style="background-image: url(img/contacts/backcall.png);"></a>
            </div>
        </div>
    </div>
</div>