<div class="contacts-map">
    <div class="contacts-map__content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.372776168468!2d37.615310716088636!3d55.75202629951921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JrRgNC10LzQu9GM!5e0!3m2!1sru!2sru!4v1635254542386!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="wrapper">
            <div class="contacts-map__info">
                <div class="title">
                    <h2>Офис в г.Москва</h2>
                </div>
                <p class="contacts-map__adress">
                    <span>Адрес:</span> Lorem ipsum dolor sit amet  ipsum dolor sit amet
                </p>
                <div class="contacts-map__numbers">
                    <a href="tel:+74950000000" class="number">+7 (495) 000 00 00</a>
                    <a href="tel:+74950000000" class="number">+7 (495) 000 00 00</a>
                </div>
                <div class="contacts-map__mail">
                    <a class="mail" href="mailto:">info@moscowindow.ru</a>
                </div>
                <div class="contacts-map__week">
                    <p>Режим работы:</p>
                    <a class="week"></a>
                </div>
            </div>
        </div>
    </div>
</div>