<footer class="footer">
    <div class="wrapper">
        <div class="footer__content">
            <div class="footer__nav">
                <a href="" class="footer__navelem">ОКНА</a>
                <a href="" class="footer__navelem">ДВЕРИ</a>
                <a href="" class="footer__navelem">ЦЕНЫ</a>
                <a href="" class="footer__navelem">НАШИ РАБОТЫ</a>
                <a href="" class="footer__navelem">О НАС</a>
                <a href="contacts.html" class="footer__navelem">КОНТАКТЫ</a>
                <a href="" class="footer__navelem">БЛОГ</a>
                <a href="" class="footer__navelem">СТАТЬЯ</a>
                <a href="" class="footer__navelem">ФУРНИТУРА</a>
            </div>
            <div class="footer__info">
                <div class="footer__logo">
                    <a class="logo"></a>
                    <p class="logo-text">Москва Окна</p>
                </div>
                <div class="footer__contacts">
                    <h3 class="footer__title">Контакты</h3>
                    <div class="footer__number footer__contactelem">
                        <a href="tel:+74950000000" class="number">+7 (495) 000 00 00</a>
                    </div>
            
                    <div class="footer__mail footer__contactelem">
                        <a class="mail" href="mailto:">info@moscowindow.ru</a>
                    </div>

                    <div class="footer__adress footer__contactelem">
                        <p class="adress">Адрес: Lorem ipsum dolor sit amet</p>
                    </div>

                    <div class="footer__time footer__contactelem">
                        <p class="time">График работы: ПН-СБ с 09:00 до 20:00</p>
                    </div>

                </div>
                <div class="footer__soc">
                    <h3 class="footer__title">Соцсети</h3>
                    <div class="footer__socs soc">
                        <a class="soc__whatsapp soc__elem" style="background-image: url(img/soc/whatsapp.svg);"></a>
                        <a class="soc__instagram soc__elem" style="background-image: url(img/soc/instagram.svg);"></a>
                        <a class="soc__vk soc__elem" style="background-image: url(img/soc/vk.svg);"></a>
                        <a class="soc__twitter soc__elem" style="background-image: url(img/soc/twitter.svg);"></a>
                    </div>
                    <a data-fancybox="popup-back" data-src="#popup-backcall" class="footer__btn btn btn_gold">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__cop">
        Все права защищены © Москва Окна
    </div>
</footer>
