<header class="header">
  <div class="wrapper">
    <div class="header__main">

      <div class="header__logo">
        <a href="/" class="logo"></a>
        <p class="logo-text">Москва Окна</p>
      </div>

      <div class="header__adress">
        <p class="adress">Адрес: Lorem ipsum dolor sit amet</p>
      </div>

      <div class="header__number">
        <a href="tel:+74950000000" class="number">+7 (495) 000 00 00</a>
      </div>

      <div class="header__mail">
        <a class="mail" href="mailto:">info@moscowindow.ru</a>
      </div>

      <div class="header__btn">
        <a class="btn btn_gold">Оставить заявку</a>
      </div>

      <div class="header__burger" id="burger">
        <a class="burger" id="burgerlink"></a>
      </div>

    </div>
  </div>
  <div class="header__nav">
    <nav class="nav">
      <div class="wrapper">
        <a href="wood-window.html" id="nav-double-click" class="nav__elem">ОКНА<span class="tringle-drop" data-target="#windows"></span></a>
        <div id="windows" class="header__drop">
          <a href="types-window.html" class="nav__elem-drop">Всякие</a>
          <a class="nav__elem-drop">Разные</a>
          <a class="nav__elem-drop">Окошечки</a>
        </div>
        <a href="doors.html" id="nav-double-click-2" class="nav__elem">ДВЕРИ<span class="tringle-drop" data-target="#doors"></span></a>
        <div id="doors" class="header__drop header__drop_two">
          <a class="nav__elem-drop">Входные двери</a>
          <a class="nav__elem-drop">Межкомнатные двери</a>
          <a class="nav__elem-drop">Раздвижные двери</a>
        </div>
        <a href="fittings.html" class="nav__elem">ФУРНИТУРА</a>
        <a href="prices.html" class="nav__elem">ЦЕНЫ</a>
        <a href="about-company.html" class="nav__elem">О НАС</a>
        <a href="gallery.html" class="nav__elem">НАШИ РАБОТЫ</a>
        <a href="blog.html" class="nav__elem">БЛОГ</a>
        <a class="nav__elem"></a>
      </div>
    </nav>
  </div>
</header>
