<header class="header">
  <div class="wrapper">
    <div class="header__main">

      <div class="header__logo">
        <a href="/" class="logo"></a>
        <p class="logo-text">Москва Окна</p>
      </div>

      <div class="header__adress">
        <p class="adress">Адрес: Lorem ipsum dolor sit amet</p>
      </div>

      <div class="header__number">
        <a href="tel:+74950000000" class="number">+7 (495) 000 00 00</a>
      </div>

      <div class="header__mail">
        <a href="mailto:">info@moscowindow.ru</a>
      </div>

      <div class="header__btn">
        <a class="btn btn_gold">Оставить заявку</a>
      </div>
    </div>
  </div>
  <div class="header__nav">
    <div class="header__burger" id="burger">
      <a class="burger" id="burgerlink"></a>
    </div>
    <nav class="nav">
      <a class="nav__elem">ОКНА</a>
      <a class="nav__elem">ДВЕРИ</a>
      <a class="nav__elem">ФУРНИТУРА</a>
      <a class="nav__elem">ЦЕНЫ</a>
      <a class="nav__elem">О НАС</a>
      <a class="nav__elem">НАШИ РАБОТЫ</a>
      <a class="nav__elem">БЛОГ</a>
      <a class="nav__elem"></a>
    </nav>
  </div>
</header>
