<div class="popup-application" id="popup-application">
    <form class="popup-application__form">
        <h2 class="popup-application__title">Оставить заявку</h2>
        <input type="name" placeholder="Введите ваше имя" required>
        <input type="number" placeholder="Введите ваш телефон" required>
        <input type="email" placeholder="Введите ваш email" required>
        <textarea placeholder="Введите ваше сообщение"></textarea>
        <p>- При введения данных вы даете согласие на обработку данных</p>
        <button type="submit" class="btn btn_gold popup-application__btn">Отправить</button>
    </form>
</div>

<div class="popup-backcall" id="popup-backcall">
    <form action="" class="popup-backcall__form">
        <h2 class="popup-backcall__title">Оставить заявку</h2>
        <input type="name" placeholder="Введите ваше имя" required>
        <input id="phone3" type="number" placeholder="Введите ваш телефон" required>
        <p>- При введения данных вы даете согласие на обработку данных</p>
        <button type="submit" class="btn btn_gold popup-backcall__btn">Отправить</button>
    </form>
</div>