<div class="about-company-info">
    <div class="wrapper">
        <div class="about-company-info__content">
            <div class="about-company-info__img">
                <a></a>
            </div>
            <div class="about-company-info__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed justo quam. Maecenas sit amet dolor urna. Aenean sagittis enim massa, at tincidunt tellus consectetur vitae. Aliquam sit amet molestie tortor. Donec arcu nulla, blandit at tortor eu, interdum pulvinar eros. Donec vestibulum imperdiet blandit. Nam eu lacinia libero, sed fermentum eros. Duis bibendum, nunc eu auctor dignissim, libero risus aliquet neque, id sagittis dolor mi quis orci. Aliquam dignissim lectus sed convallis consequat. Mauris rutrum semper sapien, in dapibus nulla pretium sed.
                <br><br>
                Etiam porta vehicula tellus, eu sodales elit. Fusce vel mi lacus. Etiam blandit justo non facilisis mattis. Vestibulum sed neque lorem. Nullam vitae suscipit libero. In nec tortor et purus consectetur tincidunt vel vel nisi. Integer eleifend odio vitae volutpat luctus. Nunc feugiat volutpat urna, ac pulvinar risus eleifend nec. Vivamus congue dolor ullamcorper mi convallis sollicitudin.
            </div>
        </div>
    </div>
</div>