<div class="about-company-history">
    <div class="wrapper">
        <div class="title">
            <h2>История компании</h2>
        </div>
       <div class="about-company-history__content">
            <div class="about-company-history__text">
                Curabitur dapibus imperdiet erat, vitae dictum elit dapibus vulputate. In bibendum nisi non nisi sagittis maximus. Etiam dictum convallis libero non scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce nibh sapien, suscipit eu tempus non, aliquet nec neque. Vestibulum elementum porttitor ex ac dictum. Suspendisse nec tempor dui. Morbi ut consequat eros, tincidunt rhoncus eros. Curabitur diam est, pretium id tortor a, fermentum consectetur purus. Fusce vel erat purus. Pellentesque sed metus ultrices, consequat eros sit amet, efficitur dui. Mauris vitae tortor sit amet arcu molestie rutrum.
            </div>
            <div class="about-company-history__text">
                Donec at tincidunt sem. Sed a sodales nisi. Morbi nec orci in sem commodo fringilla laoreet vitae justo. Duis consequat sapien ut dolor blandit egestas. Donec purus neque, tincidunt interdum lacus in, tempus gravida urna. Nulla vel nisi eget ex consequat gravida a non tellus. Curabitur et cursus lectus. Nam tellus mi, pharetra sed ipsum scelerisque, porta auctor ante. Pellentesque blandit vel magna vitae suscipit. Nam cursus lorem nec lacus sodales maximus. Vivamus gravida elit neque, id rutrum mauris congue vitae. Sed id ultricies ante, sed scelerisque odio.
            </div>
       </div> 
    </div>
</div>