<div class="gallery-works gallery-works_reviews gallery-works_about-company">
    <div class="wrapper">
        <div class="gallery-works__content">
            <div class="title title_before">
                <h2>Отзывы наших любимых клиентов</h2>
            </div>
            <div class="slider-gallery-works slider-gallery-reviews">
                <div class="slider-gallery-works__slide slider-gallery-reviews__slide">
                    <div class="card-reviews">
                        <div class="card-reviews__text">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. 
                        </div>
                        <div class="card-reviews__info">
                            <a class="card-reviews__img" style="background-image: url(img/reviews/1.png);"></a>
                            <p class="card-reviews__name">Имя клиента</p>
                        </div>
                    </div>
                </div>
                <div class="slider-gallery-works__slide slider-gallery-reviews__slide">
                    <a class="slider-gallery-reviews__imgslide" style="background-image: url(img/slider-works/2.png);"></a>
                </div>
                <div class="slider-gallery-works__slide slider-gallery-reviews__slide">
                    <div class="card-reviews">
                        <div class="card-reviews__text">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. 
                        </div>
                        <div class="card-reviews__info">
                            <a class="card-reviews__img" style="background-image: url(img/reviews/2.png);"></a>
                            <p class="card-reviews__name">Имя клиента</p>
                        </div>
                    </div>
                </div>
                <div class="slider-gallery-works__slide slider-gallery-reviews__slide">
                    <a class="slider-gallery-reviews__imgslide" style="background-image: url(img/slider-works/2.png);"></a>
                </div>
            </div>
        </div>
    </div>
</div>