<div class="card-block-doors">
    <div class="wrapper">
        <div class="card-block-doors__content">
            <div class="card-block-doors__card">
                <a class="card-block-doors__img"></a>
                <p class="card-block-doors__text">
                    Если Вы хотите, чтобы Ваш дом был законченным произведением искусства, в нем должна быть красивая современная деревянная дверь.
                    <br> <br>
                    Входные двери на любой кошелек, из дуба, лиственницы, сосны украсят и утеплят Ваш дом, потому что при производстве используется современнейшая фурнитура от производителей из Германии. Специальные дверные петли выдерживают громадные нагрузки и делают проникновение в Ваш дом очень проблематичным для злоумышленников и очень простым для хозяев.
                </p>
                <a class="card-block-doors__btn btn btn_yellow">Заказать</a>
            </div>
        </div>
    </div>
</div>