<div class="doors-elem">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Дверные петли</h2>
        </div>
        <div class="doors-elem__content">
            <p class="doors-elem__text1">
                Одна из лучших на сегодняшний день фирма, производящая петли для входных дверей из дерева и других материалов. Высочайшие требования к материалам и комплектующим, и постоянное внедрение передовых технологий и инноваций, сделали SIMONSWERK лидером на рынке.
                <br> <br>
                Дверные петли SIMONSWERK это надежность, большое количество регулировок, красота форм и большие паспортные нагрузки.
            </p>
            <div class="doors-elem__content2">
                <a class="doors-elem__img"></a>
                <div class="doors-elem__text2">
                    <div class="title title_before">
                        <h2>Дверные замки и ручки</h2>
                    </div>
                    Мы все хотим надежности, поэтому замки для  входных дверей должны быть максимально безопасными и долговечными. Но управлять ими должно быть легко и просто даже ребенку. В наших дверях устанавливаются замки и ручки немецких производителей Roto и Siegenia, Hope, KFV.
                    <br> <br>
                    В качестве современных опций возможно применить замки с электроприводом под управлением биометрического датчика,  электронной карты или NFC считывателя.
                </div>
            </div>
        </div>
    </div>
</div>