<div class="of-what">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Из чего сделаны наши входные двери</h2>
        </div>
        <div class="of-what__content">
            <ul class="of-what__list">
                <li>Толщина двери может доходить до 100 мм</li>
                <li>В двери может быть стекло, а можем выполнить ее полностью глухой</li>
                <li>Контур уплотнения выполнен из высокопрочных полиуретановых уплотнителей Shlegel</li>
                <li>Различная толщина стеклопакета, который может содержать закаленные стекла и триплекс</li>
                <li>Форма дверей может быть прямоугольной, арочной и скошенной. Возможно выполнить целые входные группы</li>
                <li>Замки могут быть с электроприводом, который управляется со смартфона или сканером отпечатка пальца</li>
            </ul>
            <a class="of-what__img"></a>
        </div>
    </div>
</div>