<div class="about">
    <div class="wrapper">
        <div class="title title_before">
            <h2>Производство деревяных дверей</h2>
        </div>
        <div class="about__content">
            <a class="about__video" style="background-image: url(img/doors/production-1.png);"></a>
            <a class="about__video" style="background-image: url(img/doors/production-2.png);"></a>  
        </div>
        <div class="about__btn">
            <a class="about__btn btn btn_gold">О компании</a>
        </div>
    </div>
</div>