<div class="buy-wood">
    <div class="wrapper">
        <a class="buy-wood__img"></a>
        <div class="buy-wood__content">
            <div class="title title_before">
                <h2>Купить деревянные окна</h2>
            </div>
            <div class="buy-wood__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </div>
            <div class="buy-wood__icons">
                <div class="buy-wood__icon">
                    <a style="background-image: url(img/buywood/1.svg);"></a>
                    <p>Уникальный интерьер</p>
                </div>
                <div class="buy-wood__icon">
                    <a style="background-image: url(img/buywood/2.svg);"></a>
                    <p>Обеспечивания уюта</p>
                </div>
                <div class="buy-wood__icon">
                    <a style="background-image: url(img/buywood/3.svg);"></a>
                    <p>Создания микроклимата</p>
                </div>
                <div class="buy-wood__icon">
                    <a style="background-image: url(img/buywood/4.svg);"></a>
                    <p>Сохранения тепла</p>
                </div>
            </div>
            <div class="buy-wood__backcall">
                <a class="buy-wood__imgplay"></a>
                <div class="buy-wood__btns">
                    <a class="btn btn_black">Сделать расчет</a>
                    <a class="btn btn_gold">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
</div>