<div class="company">
    <div class="wrapper">
        <div class="title title_before">
            <h2>О компании</h2>
        </div>
        <div class="company__content">
            <a class="company__img"></a>
            <div class="company__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non ipsum sit amet tellus vestibulum pellentesque in vitae mauris. Quisque elementum pharetra odio ac lacinia. Pellentesque posuere, orci ac interdum auctor, felis sem pulvinar leo, ut euismod ante mi vel dolor. Fusce tellus mauris, luctus vel ornare eu, dictum id enim. Maecenas vel magna libero. In fringilla lacus vel justo ultrices, at molestie diam fringilla. Nam in iaculis felis. Fusce blandit sit amet tellus in ultricies. Duis eleifend posuere ante ut mattis.

Cras convallis tortor ante, id volutpat diam fermentum ut. In viverra mi quam, ac laoreet ligula gravida id. Morbi facilisis, lorem ut molestie auctor, eros mauris condimentum nisi, tincidunt finibus nisl sem a nibh. Donec sagittis ipsum eget mi lacinia, non aliquet nisl tempor. Nam blandit porta urna id dignissim. Aliquam erat volutpat. Aenean ac vulputate nisl. Mauris et erat ullamcorper, sodales neque maximus, volutpat ligula.
            </div>
            <div class="company__info">
                <a class="company__imgplay"></a>
                <a class="btn btn_black">Читать больше</a>
            </div>
        </div>
    </div>
</div>