<div class="gallery-works">
    <div class="wrapper">
        <div class="gallery-works__content">
            <div class="title title_before">
                <h2>Галерия наших работ</h2>
            </div>
            <div class="slider-gallery-works">
                <div class="slider-gallery-works__slide">
                    <a style="background-image: url(img/slider-works/1.png);"></a>
                </div>
                <div class="slider-gallery-works__slide">
                    <a style="background-image: url(img/slider-works/2.png);"></a>
                </div>
                <div class="slider-gallery-works__slide">
                    <a style="background-image: url(img/slider-works/3.png);"></a>
                </div>
                <div class="slider-gallery-works__slide">
                    <a style="background-image: url(img/slider-works/2.png);"></a>
                </div>
            </div>
            <a class="gallery-works__btn btn btn_yellow">Смотреть все</a>
        </div>
    </div>
</div>