<div class="intro">
    <div class="wrapper">
        <div class="intro__img">
            <p>Имя директора</p>
            <span> -  Лично гарантирую качество наших окон!</span>
            <div class="intro__soc">
                <a href="" class="inst" style="background-image: url(img/soc/instagram.svg);"></a>
                <a href="" class="vk" style="background-image: url(img/soc/vk.svg);"></a> 
            </div>
        </div>
        <div class="intro__form">
            <h1>Деревяные окна в Москве</h1>
            <p>Премиальные деревяные окна с экспресс установкой за один месяц по ГОСТу При заказе до <span>31.08.2021</span></p>
            <form action="">
                <input id="phone" type="tel" placeholder="Введите свой телефон" maxlength="14" required>
                <button class="btn btn_gold btn_before" type="submit">Заказать звонок</button>
            </form>
        </div>
        <div class="intro__info">
            <div class="intro__freetaxi">
                <p><span>Бесплатное</span> такси до офиса в бизнес классе</p>
                <a class="btn btn_yellow">Подробнее</a>
            </div>
            <div class="intro__videos">
                <a class="intro__video" style="background-image: url(img/intro/video2.png);"></a>
                <a class="intro__video" style="background-image: url(img/intro/video2.png);"></a>
            </div>
        </div>
    </div>
</div>