<div class="types-windows">
    <div class="wrapper">
        <div class="types-windows__content">

            <div class="types-windows__card card-window">
                <div class="card-window__wrapper">
                    <p class="card-window__info">Высший уровень надежности</p>
                    <h2 class="card-window__title">Дерево - <br>  алюминиевые окна</h2>
                    <a class="card-window__img" style="background-image: url(img/types-windows/1.png);"></a>
                    <a href="" class="card-window__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>
            </div>

            <div class="types-windows__card card-window">
                <div class="card-window__wrapper">
                    <p class="card-window__info">Экология эффективность эстетика</p>
                    <h2 class="card-window__title">Деревяные окна</h2>
                    <a class="card-window__img" style="background-image: url(img/types-windows/2.png); background-size: 120%;"></a>
                    <a href="" class="card-window__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>
            </div>

            <div class="types-windows__card card-window">
                <div class="card-window__wrapper">
                    <p class="card-window__info">Умные проекты для комфорта</p>
                    <h2 class="card-window__title">Алюмо - <br> деревяные окна</h2>
                    <a class="card-window__img" style="background-image: url(img/types-windows/3.png);"></a>
                    <a href="" class="card-window__btn btn btn_yellow btn_arrow">Подробнее</a>
                </div>
            </div>

        </div>
    </div>
</div>