<div class="intro-window">
    <div class="wrapper">
        <div class="intro-window__content">
            <a class="intro-window__img" style="background-image: url(img/types-windows/back.jpg);"></a>
            <h1 class="intro-window__title">Виды деревянных окон</h1>
            <div class="intro__form intro-window__form">
                <form action="">
                    <input id="phone" type="tel" placeholder="Введите свой телефон" maxlength="14" required>
                    <button class="btn btn_gold btn_before" type="submit">Заказать звонок</button>
                </form>
            </div>
        </div>
    </div>
</div>