<div class="math math_types-window">
    <div class="wrapper">
        <div class="math__content">
            <div class="math__calc">
                <div class="math__title">
                    <h2>Расчет стоимости окон</h2>
                </div>
                <form class="form-calc">
                    <div class="form-calc__items">
                        <div class="form-calc__item">
                            <div class="form-calc__width">
                                <input type="number" placeholder="Ширина" maxlength="8">
                            </div>
                            <div class="form-calc__height">
                                <input type="number" placeholder="Высота" maxlength="8">
                            </div>
                            <div class="form-calc__area">
                                <input type="number" placeholder="Площадь" maxlength="8">
                            </div>
                        </div>

                        <div class="form-calc__item">
                            <div class="form-calc__width">
                                <input type="number" placeholder="Ширина" maxlength="8">
                            </div>
                            <div class="form-calc__height">
                                <input type="number" placeholder="Высота" maxlength="8">
                            </div>
                            <div class="form-calc__area">
                                <input type="number" placeholder="Площадь" maxlength="8">
                            </div>
                        </div>

                        <div class="form-calc__item mob-hidden">
                            <div class="form-calc__width">
                                <input type="number" placeholder="Ширина" maxlength="8">
                            </div>
                            <div class="form-calc__height">
                                <input type="number" placeholder="Высота" maxlength="8">
                            </div>
                            <div class="form-calc__area">
                                <input type="number" placeholder="Площадь" maxlength="8">
                            </div>
                        </div>
                        <a class="form-calc__plus">Добавить окно</a>
                    </div>

                    <button type="submit" class="form-calc__btn btn btn_gold">Сделать расчет</button>
                </form>
            </div>
            <div class="math__img">
                <a></a>
            </div>
        </div>
    </div>
</div>