<div class="types-window-info">
    <div class="wrapper">
        <div class="types-window-info__content">
            <div class="types-window-info__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed justo quam. Maecenas sit amet dolor urna. Aenean sagittis enim massa, at tincidunt tellus consectetur vitae. Aliquam sit amet molestie tortor. Donec arcu nulla, blandit at tortor eu, interdum pulvinar eros. Donec vestibulum imperdiet blandit. Nam eu lacinia libero, sed fermentum eros. Duis bibendum, nunc eu auctor dignissim, libero risus aliquet neque, id sagittis dolor mi quis orci. Aliquam dignissim lectus sed convallis consequat. Mauris rutrum semper sapien, in dapibus nulla pretium sed.
            </div>
            <div class="types-window-info__contain">
                <div class="types-window-info__img">
                    <a></a>
                </div>
                <div class="types-window-info__textimg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed justo quam. Maecenas sit amet dolor urna. Aenean sagittis enim massa, at tincidunt tellus consectetur vitae. Aliquam sit amet molestie tortor. Donec arcu nulla, blandit at tortor eu, interdum pulvinar eros. Donec vestibulum imperdiet blandit. Nam eu lacinia libero, sed fermentum eros. Duis bibendum, nunc eu auctor dignissim, libero risus aliquet neque, id sagittis dolor mi quis orci. Aliquam dignissim lectus sed convallis consequat. Mauris rutrum semper sapien, in dapibus nulla pretium sed.
                    <br> <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed justo quam. Maecenas sit amet dolor urna. Aenean sagittis enim massa, at tincidunt tellus consectetur vitae. Aliquam sit amet molestie tortor. 
                </div>
            </div>
        </div>
    </div>
</div>